{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block header %}
    <h1 class="display-3 px-5">Welcome to DMedias!</h1>
{% endblock %}

{% block content %}
<div class="px-5">
    <div class="card bg-black text-light border-secondary text-warning dhiddenarea" id="dmessage">
        <div class="card-body">
            <p class="card-text"></p>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-lg-4 pt-5">
        <div class="col-lg-6">
            <div class="card bg-black text-light border-secondary mb-4">
                <div class="card-body py-5">
                    <h2 class="h2 card-title px-lg-5">Login</h2>
                    <hr>
                    <form id="login-form" class="px-lg-5"> 
                        <div class="mb-3 row row-cols-1 row-cols-lg-4 align-items-center">
                            <div class="col col-lg-3">
                                <label class="form-label" for="login-username">Username</label>
                            </div>
                            <div class="col col-lg-9">
                                <input class="form-control" name="login-username" id="login-username" required>
                            </div>
                        </div>
                        <div class="mb-3 row row-cols-1 row-cols-lg-4 align-items-center">
                            <div class="col col-lg-3">
                                <label class="form-label" for="login-password">Password</label>
                            </div>
                            <div class="col col-lg-9">
                                <input class="form-control" name="login-password" id="login-password" type="password" required>
                            </div>
                        </div>
                        <button class="btn btn-success w-100" type="submit">Login</button>
                    </form>
                </div>        
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card bg-black text-light border-secondary mb-4">
                <div class="card-body py-5">
                    <h2 class="h2 card-title px-lg-5">Register</h2>
                    <hr>
                    <form id="register-form" class="px-lg-5"> 
                        <div class="mb-3 row row-cols-1 row-cols-lg-4 align-items-center">
                            <div class="col col-lg-3">
                                <label class="form-label" for="register-username">Username</label>
                            </div>
                            <div class="col col-lg-9">
                                <input class="form-control" name="register-username" id="register-username" required>
                            </div>
                        </div>
                        <div class="mb-3 row row-cols-1 row-cols-lg-4 align-items-center">
                            <div class="col col-lg-3">
                                <label class="form-label" for="register-password">Password</label>
                            </div>
                            <div class="col col-lg-9">
                                <input class="form-control" name="register-password" id="register-password" type="password" required>
                            </div>
                        </div>
                        <button class="btn btn-success w-100" type="submit">Register</button>
                    </form>
                </div>  
            </div>        
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/auth.js') }}"></script>
{% endblock %}