{% extends 'base.html' %}
{% block title %}Posts{% endblock %}

{% block header %}
    <h1 class="display-3 px-5">Anime</h1>
{% endblock %}



{% block content %}
    {% if warning %}
        <p class="text-warning">{{ warning }}</p>
    {% endif %}
    <div class="row row-cols-1 row-cols-lg-4">
        <div class="col-lg-6">
            <div class="card bg-black text-light border-secondary mb-4">
                <div class="card-body mt-3">
                    <h2 class="h4 card-title">Track an anime</h2>
                    <p class="card-text">Share your thoughts and opinions by tracking an anime! Just give it a title, a score out of 10, and a description if you want.</p>
                    <form method="post" id="post-form"> 
                        <div class="row"> 
                            <div class="mb-3 col-lg-9">
                                <label class="form-label" for="title">Title</label>
                                <div class="position-relative">
                                <input class="form-control" name="title" id="title" required>

                                <div id="suggestions" class="list-group position-absolute w-100 z-3 d-none">
                                </div>
                                </div>
                            </div>
                            <div class="mb-3 col">
                                <label class="form-label" for="score">Score</label>
                                <input class="form-control" type="number" min="0" max="10" name="score" id="score">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Description</label>
                            <textarea class="form-control" name="description" id="description" rows="4"></textarea>
                            <div class="mt-3 row">
                                <div class="mb-3 col">
                                    <label class="form-label" for="watching_status">Status</label>
                                    <select class="form-select" name="watching_status" id="watching_status">
                                        <option value="watching">Watching</option>
                                        <option value="completed">Completed</option>
                                        <option value="planned">Planned</option>
                                        <option value="dropped">Dropped</option>
                                    </select>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label" for="anime_type">Type</label>
                                    <select class="form-select" name="anime_type" id="anime_type">
                                        <option value="tv">TV</option>
                                        <option value="movie">Movie</option>
                                        <option value="special">Special</option>
                                        <option value="ova">OVA</option>
                                        <option value="ona">ONA</option>
                                        <option value="music">Music</option>
                                        <option value="cm">CM</option>
                                        <option value="pv">PV</option>
                                        <option value="tv special">TV Special</option>
                                        <option value="misc">Miscellaneous</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-success w-100" type="submit">Post</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="card bg-black text-light border-secondary mb-4">
                <div class="card-body mt-3">
                    <h2 class="h4 card-title">Search posts</h2>
                    <p class="card-text">Use the search bar below to filter anime by title or description!</p>
                    <input class="form-control mb-3" id="search-input" placeholder="Search posts...">
                </div>
            </div>
        </div>
    </div>
    <p>Yaaaay! Got posts working, here they are:</p>
    <p id="posts-message" class="dpostsmessage mb-4"></p>
    <div class="row g-3" id="posts-container">
        {% for post in posts %}
            <div class="col-lg-4 col-md-6 post-card" id="post-{{ post['id'] }}">
                <div class="card bg-black text-light border-secondary">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <h2 class="h4 card-title" id="post-{{ post['id'] }}-title">
                                {{ post['title'] }}
                            </h2>
                            <h4 class=""><span class="badge text-bg-secondary" id="post-{{ post['id'] }}-score">{{ (post['score']) ~ "/10" if post['score'] else '' }}</span></h4>
                        </div>
                        <div class="d-flex justify-content-start gap-2 align-items-start mb-3">
                            <span class="badge text-bg-secondary text-capitalize fw-light" id="post-{{ post['id'] }}-watching_status">{{ post['watching_status'] }}</span>
                            <span class="badge text-bg-secondary text-capitalize fw-light" id="post-{{ post['id'] }}-anime_type">{{ post['anime_type'] }}</span>
                        </div>
                        <p class="card-text dyprintnewline" id="post-{{ post['id'] }}-description">{{ post['body'] }}</p>
                        <div class="d-flex align-items-center">
                            <p class="text-secondary small mb-3 post-meta">
                                Post #{{ post['id'] }} —
                            </p>
                            <span class="text-secondary small mb-3 post-time">{{ post['created'] }}</span>
                        </div>
                        <div class="card-text d-flex justify-content-between gap-2">
                            <button class="btn btn-outline-light btn-sm edit-btn flex-grow-1" id="editbtn-{{ post['id'] }}">Edit</button>
                            <form id="deletepost-{{ post['id'] }}" class="m-0 delete-form">
                                <button class="btn btn-danger btn-sm" type="submit">
                                Delete
                                </button>
                            </form>
                        </div>

                        <form id="editpost-{{ post['id'] }}" class="dhiddenarea mt-3 edit-form" method="post">
                            <div class="card-text container-fluid g-2 center d-flex justify-content-start align-items-center p-0">
                                <p class="text-secondary w-auto">Score:</p>
                                <input class="form-control mb-2 mx-2 w-auto" type="number" min="0" max="10" id="editscore-{{ post['id'] }}" name="editscore-{{ post['id'] }}" value="{{ post['score'] }}">
                            </div>
                            <p class="text-secondary">Description:</p>
                            <textarea class="form-control mb-2" id="editdesc-{{ post['id'] }}" name="editdesc-{{ post['id'] }}" rows="4">{{ post['body'] }}</textarea>
                            <div class="mt-3 row">
                                <div class="mb-3 col">
                                    <label class="form-label" for="watching_status">Status</label>
                                    <select class="form-select" name="editwatching_status-{{ post['id'] }}" id="editwatching_status-{{ post['id'] }}">
                                        <option value="watching">Watching</option>
                                        <option value="completed">Completed</option>
                                        <option value="planned">Planned</option>
                                        <option value="dropped">Dropped</option>
                                    </select>
                                </div>
                                <div class="mb-3 col">
                                    <label class="form-label" for="anime_type">Type</label>
                                    <select class="form-select" name="editanime_type-{{ post['id'] }}" id="editanime_type-{{ post['id'] }}">
                                        <option value="tv">TV</option>
                                        <option value="movie">Movie</option>
                                        <option value="special">Special</option>
                                        <option value="ova">OVA</option>
                                        <option value="ona">ONA</option>
                                        <option value="music">Music</option>
                                        <option value="cm">CM</option>
                                        <option value="pv">PV</option>
                                        <option value="tv special">TV Special</option>
                                        <option value="misc">Miscellaneous</option>
                                    </select>
                                </div>
                            </div>
                            <p class="text-warning small dhiddenarea" id="editmessage-{{ post['id'] }}"></p>
                            <button class="btn btn-success btn-sm" type="submit">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block script %}
    <script type="module" src="{{ url_for('static', filename='js/posts.js') }}"></script>
{% endblock %}
