<!doctype html>
<head>
    <title>{% block title %}{% endblock %} - DMedias</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&amp;family=Oswald:wght@200..700&amp;display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='icon.png') }}">
</head>
<body>
    <nav class="navibox">
        <h2 class="maintitle">DMedias</h2>
        <ul class="navi">
            <div class="navihelper">
                <li class="navili"><a href="{{ url_for('main.index')}}">Home</a></li>
                <li class="navili"><a href="{{ url_for('main.posts')}}">Posts</a></li>
                <li class="navili"><a href="#">About</a></li>
            </div>
            <p class="special">By Dylan</p>
        </ul>
    </nav>
    <section class="content">
      <header>
        {% block header %}{% endblock %}
        <hr>
      </header>
      {% block content %}{% endblock %}
    </section>
</body>