{% extends 'base.html' %}
{% block title %}Main{% endblock %}

{% block header %}
    <h1 class="display-3">Home</h1>
{% endblock %}

{% block content %}
    <div class="card bg-black text-light border-secondary">
        <div class="card-body">
            <p>Hello world, welcome to my site!</p>
            <p>Armed with knowledge from my CS3720 course, this is my first Flask project.</p>
            <p class="mb-0">I'm planning to make simple media tracking, like favourites and stuff.</p>
        </div>
    </div>
{% endblock %}