{% extends 'base.html' %}
{% block title %}Posts{% endblock %}


{% block header %}
    <h1>Posts</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input class="input" name="title" id="title" required>
        <label for="description">Description</label>
        <input class="input" name="description" id="description" required>
        <label for="score">Score</label>
        <input class="input" type="number" min="0" max="10" name="score" id="score" required>
        <input class="input" type="submit" value="Post">
    </form>
    <p>Yaaaay! Got posts working, here they are: </p>
    <br>
    {% for post in posts %}
    <p id="post-{{post['id']}}">{{post['id']}}: {{post['title']}} ({{post['score']}}/10) - {{post['body']}} ({{post['created']}})
    {# <button onclick="deletePost({{post['id']}})"></button> #}
        <!-- <form method="post" action="/post/{{ id }}">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit">Delete</button>
</form> -->
    </p>
    {% endfor %}
{% endblock %}